# Node modules
node_modules

# Entornos
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de dependencias bloqueadas
package-lock.json

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos específicos de tu proyecto
sequelizeComandos.txt